.banner {
  overflow-x: hidden;
  &-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    height: 100vh;
    position: relative;
    &-left {
      h1 {
        font-size: 60px;
        font-weight: 700;
        color: black;
        line-height: 100px;
      }
      p {
        font-size: 21px;
      }
      .logo-container {
        display: grid;
        grid-template-columns: repeat(2, 250px);
        align-items: center;
        margin-top: 50px;
      }
    }
    &-right {
      padding: 20px;
      justify-self: end;
      img {
        width: 500px;
        border-radius: 6px;
        max-width: 100%;
      }
    }
  }
  svg {
    position: absolute;
    width: 100%;
    bottom: 0px;
    right: -25%;
    z-index: -1;
  }
}